
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;

section {
  height: 100vh;
  background: url("../images/sad.jpg");
  background-position: center;
  object-fit: cover;
}

body {
  font-size: 16px;
  color: #333;
  margin: 0;
  font-family: 'Bowlby One SC', cursive;
}

.clock-wrapper {
  padding: 20px;
  background: rgba(255, 255, 255, .8);
  width: 70%;
  margin-left: 15%;
  text-align: center;
  /*display: flex;
  flex-flow: column;
  justify-content: right;
  align-items: right;*/
}

.clock-wrapper h1 {
  font-size: 3rem;
  margin: 5px 0;
}

.flip-clock-wrapper {
  left: 50px;
}
